/* Your CSS Code here. */
.container{
	background:cyan;
	border:5px solid red;
	padding:20px;
}
.heading{
	color:navy;
}
#evaluatedText{
	border: 5px groove navy;
	color:navy;
	font-weight:600;
	resize:none;
/* 	margin:20px; */
/* 	resize:horizontal; */
/* 	resize:vertical; */
}
0 comments on commit ef742ab